<!-- Sidebar Start -->
<aside class="w-72 py-6 pr-5">
   <div>
      <h5 class="mb-3 text-sm  text-slate-800 mt-5 font-black">Components</h5>
      <ul class="space-y-1 text-sm" id="navList">
         <li {{#is title "Alert"}} class="active"{{/is}}>
            <a href="alert.html" class="text-indigo-600 bg-indigo-50 w-full flex p-2 px-3 rounded-md font-semibold">Alert</a>
         </li>
       <li {{#is title "Avatar"}} class="text-indigo-600 bg-slate-100"{{/is}}>
            <a href="avatar.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Avatar</a>
         </li>
         <li>
            <a href="button.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Button</a>
         </li>
         <li>
            <a href="button-group.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Button
               Group</a>
         </li>
         <li>
            <a href="badge.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Badge</a>
         </li>
         <li>
            <a href="card.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Card</a>
         </li>

         <li>
            <a href="list-group.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">List
               Group</a>
         </li>
         <li>
            <a href="navbar.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Navbar</a>
         </li>
         <li>
            <a href="nav.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Nav</a>
         </li>
         <li>
            <a href="pagination.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Pagination</a>
         </li>
         <li>
            <a href="spinner.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Spinner</a>
         </li>
         <li>
            <a href="toast.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Toast</a>
         </li>
      </ul>
   </div>
   <div>
      <h5 class="mb-3 text-sm font-black text-slate-800 mt-5">Forms</h5>
      <ul class="space-y-1 text-sm">
         <li>
            <a href="input-field.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md"> Input
               Field</a>
         </li>
         <li>
            <a href="select.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">
               Select</a>
         </li>
         <li>
            <a href="checkbox.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">
               CheckBox</a>
         </li>
         <li>
            <a href="radio.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md"> Radio</a>
         </li>
         <li>
            <a href="textarea.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">
               Textarea</a>
         </li>

         <li>
            <a href="file-input.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md"> File
               Input</a>
         </li>
         <li>
            <a href="input-group.html"
               class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md"> Input
               group <span class="bg-slate-100 text-slate-600 text-xs ml-2 rounded-md px-2 py-1">Cooming Soon</span></a>
         </li>

      </ul>
   </div>
   <div>
      <h5 class="mb-3 text-sm font-black text-slate-800 mt-5">Tables</h5>
      <ul class="space-y-1 text-sm">
         <li>
            <a href="table.html" class="text-slate-600 hover:text-slate-800 hover:bg-slate-100 w-full flex p-2 px-3 rounded-md">Table</a>
         </li>
      </ul>
   </div>
</aside>
<!-- Sidebar End -->